/* style.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;
}
.card {
    background-color: #e1d7d7;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#username-form {
    margin-bottom: 20px;
}

#quiz {
    margin-top: 20px;
}

#choices {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
}
.choices button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
    cursor: pointer;
    transition: background-color 0.3s;
}

#score {
    font-weight: bold;
}

#timer {
    font-weight: bold;
}

button.correct {
    background-color: #7ed957; 
}

button.wrong {
    background-color: #ff4d4d; 
}

